<div class="graph-wrap virtual-graph" tabindex="0" data-viewport-x="0" data-viewport-y="0" data-zoom="1">
    <button class="follow-toggle" type="button" aria-pressed="false" title="Keep the graph pinned to the top-right edge">Follow</button>
    <svg class="graph" role="img" aria-label="CoCo node graph" viewBox="0 0 1 1" width="100%" height="100%">
        {% include "graph_markers.svg" %}
        <rect class="graph-bg" x="0" y="0" width="1" height="1"></rect>
        <g class="graph-lanes"></g>
        <g class="graph-edges"></g>
        <g class="graph-nodes"></g>
    </svg>
    <div class="graph-status">Loading graph...</div>
</div>
