COCO_IMAGE=ghcr.io/linw1995/coco:latest
COCO_CONTAINER_NAME=coco
COCO_PORT=17667
COCO_DATA_DIR=.coco-data
COCO_WORKSPACE_DIR=.coco-workspace
# Required. Set these to `id -u` and `id -g` on the host.
COCO_UID=
COCO_GID=
TZ=UTC
COCO_LOG=info
COCO_START_CRON=1
CHATGPT_ACCESS_TOKEN=
CHATGPT_ACCOUNT_ID=
COCO_TELEGRAM_BOT_TOKEN=
