# Rust artifacts
target
coco-console/pkg

# Ignore scripts by default
*.sh
!docker/coco-docker-entrypoint.sh
!scripts/merge-cov.sh
!scripts/run-cov.sh
!scripts/run-wasm-cov.sh
!scripts/test-builtin-skill-scripts.sh

# CoCo
config.toml
logs
.env
!.env.example
.coco-data/

# Agent artifacts
.agents/
.coco-workspace/
.coco-store/
.coco-store-*/
.codex
skills-lock.json
.ml-cache/
.codex
.mainline/local.toml
.cursor
